@using (Html.BeginForm("ListDocSearch", "Document", FormMethod.Post))
{
    <div class="search-text">
        <div class="row form-group">
            <div class="input-search">
                <input type="text" value="" class="form-control" name="searchString" />
            </div>
            <div class="btn-search">
                <button type="submit" class="btn btn-success">Tìm kiếm</button>
            </div>
        </div>
    </div>
}
